/**
* Brandon Mok
* CSS - Project 2 styles
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
}


/* Anchor tags - keep the same */
a, a:visited{
    color: black;
    text-decoration: none;
}

/* Section Headings */
.sectionHeading{
    font-size: 3rem;
    padding-bottom: 1em;
}


/* Every other section */
.altSection{
    background-color: #F0F0F0;
    text-align: center;
    border-radius: 1em;
    padding: 3em;
    margin: 3em;
}


/* Header - Top Bar */
.header{
    display: inline;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    padding: .75em 0;
    z-index: 5;
    box-shadow: 0 4px 10px rgba(0,0,0,.16);
}

/* RIT in header */
#RIT{
    display: inline-block;
    font-size: 3rem;
    margin-left: 1em;
}


/* Nav */
div ul#nav{
    float: right;
}
div ul#nav li{
    display: inline-block;
    font-size: 1.15rem;
    padding-right: 2em;
    padding-top: 1em;
}
div ul#nav a:hover{
    font-weight: bold;
}


/* Landing image DIV */
#landingImage{
    background-image: url("../images/homepage.jpg"); /* creator: willian-justen @ unsplash.com */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#imageText{
    position: absolute;
    color: white;
    font-size: 4rem;
    margin-right: -50%;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
}





/** About Section */
#about{
    margin: 4em;
}
#aboutTitle{
    font-size: 2rem;
    font-weight: bold;
}
#aboutDesc{
    font-size: 1.1rem;
    padding: 2em 4em;
}

/* Quote - Considered about section */
#quoteDiv{
    margin: 5em 4em 3em 4em;
    text-align: center;
}
#quote{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    padding: 0 4em 1em 4em;
}
#quoteAuthor{
    font-style: italic;
    font-size: 1.4rem;
}

/* Actual quote symbol */
.quotes{
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: grey;
}





/** DEGREES Section **/

/* Tabs section 'undergraduate' & 'graduate' */
#tabs-1, #tabs-2{
    display: flex;
    flex-wrap: wrap;
}
/* Individual Degree boxes */
.uDegBoxes, .gDegBoxes{
    flex: 1 1 25%;
    width: 20em;
    height: 16em;
    border: 2px solid gray;
    border-radius: .5em;
    background-color: white;
}
/* Name of the degree */
.degreeName{
    font-size: 1.1rem;
    padding: 1em;
    font-weight: bold;
}
/* Degree descriptions */
.degreeDesc{
    padding: 1em;
}
ul.conList{
    /* Image author: Dave Gandy, https://www.flaticon.com/free-icon/terminal_25627#term=terminal&page=1&position=2 */
    list-style-image: url('../images/terminal.png');
    padding-left: 1.4em;
}
.conSubHeading{
    font-size: 1.2rem;
    padding-bottom: .5em;
}






/** Minors Section **/
#minors{
    margin: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}
#minors .sectionHeading{ 
    flex: 1 1 100%; 
    text-align: center;
} 
#minorsBoxCont{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
}
.eachMinor{
    margin: 1em;
    border: 2px solid gray;
    border-radius: .5em;
    width: 12em;
    height: 10em;

    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
}
/* Minor div hover effect */
.eachMinor:hover{
    border: 5px solid #F76902;
    background-color: #fc954a;
    z-index: 3;
    box-shadow: 0 4px 10px rgba(0,0,0,.16);
}
/* List of classes for the minor */
ul.minorClasses{
    padding-left: 2em;
    padding-bottom: 1em;
}
ul.minorClasses li{
    list-style-type: square;
}
/* Minor description */
.minorDesc{
    padding: 1em 0;
}
/* Note at the bottom of the minor */
.minorNote{
    font-size: .8rem;
    font-style: italic;
}




/* Employment section */
#employment{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
/* Actual content */
#empContent, #coopContent{
    flex: 1 1 100%;
    padding-bottom: 2em;
}
/* Boxes for employment stats */
#empBoxes{
    flex: 1 1 25%;
    border: 3px solid #F76902;
    background-color: white;
    min-height: 8em;
    text-align: center;
}
/* Word "employment" */
#employment p.sectionHeading{
    font-size: 2.3rem;
}


/** Student work locations "Where our students work" */
#studentWorkLocations{
    margin: 3em;
}
#studentWorkLocations p.sectionHeading{
    text-align: center;
}
/* ul#coopList li{
    padding: .5em 0;
} */






/** People section */
#tabs-3, #tabs-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#people p.sectionHeading{
    text-align: center;
    flex: 1 1 100%;
}
#peopleTabs{
    width: 100%;
}
.facultyBoxes, .staffBoxes{
    flex: 1 1 25%;
    margin: 1em;
    width: 14em;
    height: 7em;
    border: 2px solid #F76902;
    text-align: center;
}
.facultyBoxes:hover, .staffBoxes:hover{
    font-size: 1.1rem;
    z-index: 3;
    border: 4px solid #F76902;
    box-shadow: 0 4px 10px rgba(0,0,0,.16);
}

.peopleBackModal{
    display: flex;
    flex-direction: row;
}
.peopleNameImage{
    padding: 1em;
    flex: 1 1 50%;
}
.peopleContactInfo{
    flex: 1 1 50%;
    padding: 1em;
}






/** 
* Overwriting of plugin styling
*/  

/* Overwriting Tab plugin styling */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #e86202;
	background: #F76902;
	font-weight: normal;
	color: #ffffff;
}


/* Overwrite modal styles */
.blocker{
    z-index: 10;
}
.modal{
    max-width: 750px;
}


/* Accordian content size */
.ui-accordion .ui-accordion-content{
    padding: 1em 2.2em 5em 2.2em;
}






/** Media Queries */
@media screen and (max-width: 900px){
    /** Image scroll parallax effect stop */
    #landingImage{
        background-attachment: scroll;
    }
    /* Information Sciences & Technology text */
    #imageText{
        font-size: 3rem; 
        margin-right: 2em;      
    }
}
@media screen and (max-width: 600px){
    /* Degree boxes */
    .uDegBoxes{
        width: 15em;
    }

    /* Every other section */
    .altSection{
        margin: 0;
    }


    /* about */
    #about{
        margin: 0;
        margin-top: 3em;
    }
    #aboutTitle{
        font-size: 1.2rem;
        padding-bottom: 1em;
    }
    #aboutDesc{
        font-size: 1rem;
        padding: 0;
    }
    #quoteDiv{
        margin: 2em 0;
        padding: .5em;
    }
    #quote{
        font-size: 1.1rem;
    }
    #quoteAuthor{
        font-size: 1rem;
    }
}
@media screen and (max-width: 500px){
    /* Information Sciences & Technology text */
    #imageText{
        font-size: 2.4rem;        
    }



}