/**
* Brandon Mok
* CSS - Project 2 styles
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}


/* Anchor tags - keep the same */
a, a:visited{
    color: black;
    text-decoration: none;
}

/* Section Headings */
.section-heading{
    font-size: 3rem;
    padding-bottom: .5em;
    text-align: center;
}

/* Sub Heading */
.sub-heading{
    font-size: 1rem;
    text-align: center;
    padding-bottom: 1em;
}


/* Every other section */
.altSection{
    background-color: #F0F0F0;
    text-align: center;
    border-radius: 1em;
    padding: 3em;
    margin: 3em;
}


/* Header - Top Bar */
.header{
    display: inline-block;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    padding: .75em 0;
    z-index: 5;
    box-shadow: 0 4px 10px rgba(0,0,0,.16);
}

/* RIT in header */
#RIT{
    display: inline-block;
    font-size: 3rem;
    margin-left: 1em;
}


/* Nav */
div ul#nav{
    float: right;
}
div ul#nav li{
    display: inline-block;
    font-size: 1.15rem;
    padding-right: 2em;
    padding-top: 1em;
}
div ul#nav a:hover{
    font-weight: bold;
}


/* Landing image DIV */
#landing-image{
    background-image: url("../images/homepage.jpg"); /* creator: willian-justen @ unsplash.com */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#image-text{
    position: absolute;
    color: white;
    font-size: 4rem;
    margin-right: -50%;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
}





/** About Section */
#about{
    margin: 4em;
}
#about-Title{
    font-size: 2rem;
    font-weight: bold;
}
#about-Desc{
    font-size: 1.1rem;
    padding: 2em 4em;
}

/* Quote - Considered about section */
#quote-Div{
    margin: 5em 4em 3em 4em;
    text-align: center;
}
#quote{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    padding: 0 4em 1em 4em;
}
#quote-Author{
    font-style: italic;
    font-size: 1.4rem;
}

/* Actual quote symbol */
.quotes{
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: grey;
}





/** DEGREES Section **/

/* Tabs section 'undergraduate' & 'graduate' */
#tabs-1, #tabs-2{
    display: flex;
    flex-wrap: wrap;
}
/* Individual Degree boxes */
.uDegBoxes, .gDegBoxes{
    flex: 1 1 25%;
    width: 18em;
    height: 14em;
    border: 2px solid gray;
    border-radius: .5em;
    background-color: white;
    overflow: hidden;
}
.uDegBoxes:hover, .gDegBoxes:hover{
    border: 4px solid #fc954a;
    font-size: 1.05rem;
}
/* Anchor modal tag to seperate btw boxes */
.degree-anchor{
    margin: 1em;
}
/* Name of the degree */
.degree-name{
    font-size: 1.1rem;
    padding: 1em;
    font-weight: bold;
}
/* Degree descriptions */
.degree-Desc{
    font-size: .9rem;
    padding: 1em;
}
ul.concentration-list{
    /* Image author: Dave Gandy, https://www.flaticon.com/free-icon/terminal_25627#term=terminal&page=1&position=2 */
    list-style-image: url('../images/terminal.png');
    padding-left: 1.4em;
}
.concentration-subheading{
    font-size: 1.2rem;
    padding-bottom: .5em;
}
/* Certificates section in the degrees section */
#certificates-container{
    margin-top: 1.5em;
}







/** Minors Section **/
/* Main minors container */
#minors{
    margin: 3em;
}
/* Container for all minor boxes */
#minors-box-container{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
}
/* Modal anchor tag */
#minors-anchor{
    padding: 0;
    margin: 1em;
}
.each-minor{
    margin: 1em;
    border: 2px solid gray;
    border-radius: .5em;
    width: 12em;
    height: 10em;

    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
}
/* Minor div hover effect */
.each-minor:hover{
    border: 5px solid #F76902;
    background-color: #fc954a;
    z-index: 3;
    box-shadow: 0 4px 10px rgba(0,0,0,.16);
}

/* List of classes for the minor */
ul.minor-courses{
    padding-left: 2em;
    padding-bottom: 1em;
}
ul.minor-courses li{
    list-style-type: square;
}

/* Minor description */
.minor-description{
    padding: 1em 0;
}
/* Note at the bottom of the minor */
.minor-note{
    font-size: .8rem;
    font-style: italic;
}




/* Employment section */
#employment{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}
/* Word "employment" */
#employment p.section-heading{
    font-size: 2.3rem;
}
/* Actual content */
#employment-content, #coop-content, #employers-div, #careers-div{
    flex: 1 1 100%;
    padding-bottom: 2em;
}
/* Boxes for employment stats */
#statistics-boxes{
    flex: 1 1 25%;
    border: 3px solid #F76902;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.employer-names-span, .careers-names-span{
    color: #F76902;
    margin: 1em;
}



/** Student work locations "Where our students work" */
#imap{
    width: 85%; 
    height: 35em;
}
#student-work-locations{
    margin: 3em;
    text-align: center;
}
#coop-table, #employment-table{
    display: block;
    position: relative;
    width: 100%;
}
#coop-table tr td, #coop-table tr th, #employment-table tr td, #employment-table tr th{
    text-align: left;
    width: 15em;
}






/** People section */
#tabs-3, #tabs-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#people p.section-heading{
    flex: 1 1 100%;
}
/* Tab */
#peopleTabs{
    width: 100%;
}
#people-anchor{
    padding: 0;
    margin: 1em;
}
/* Boxes that hold faculty & staff names */
.faculty-boxes, .staff-boxes{
    flex: 1 1 25%;
    width: 14em;
    height: 7em;
    border: 2px solid #F76902;
    text-align: center;
    overflow: hidden;
}
.faculty-boxes:hover, .staff-boxes:hover{
    font-size: 1.1rem;
    border: 4px solid #F76902;
    z-index: 3;
    box-shadow: 0 2px 2px rgba(0,0,0,.16);
}

/* Faculty/staff box name and subheading */
.faculty-boxes h2, .faculty-boxes p, .staff-boxes h2, .staff-boxes p{
    margin: auto;
    width: 50%;
}
/* information in backmodal for people */
.people-brief-info, .peopleContactInfo{
    padding: 1em;
}
/* Container used for people information in back modal */
#people-container{
    text-align: center;
}




/** Research */
#research{
    margin: 3em 3em 10em 3em;
}
#research-for-mobile{
    display: none;
}

/* Research area and faculty boxes */
 a .interest-area-box, a .interest-faculty-box{
    border: 2px solid black;
    text-align: center;
    overflow: hidden;
}
#interest-anchor{
    padding: 0;
    margin: 1em;
}
.interest-area-box p, .interest-faculty-box p{
    margin: auto;
    width: 50%;
    padding: 10px;
}
.interest-area-box:hover, .interest-faculty-box:hover{
    border: 4px solid #F76902;
    font-size: 1.1rem;
}
/* List of citations in back modal of each box */
.citation-list{
    font-size: .8rem;
    padding-left: 1em;
}






/** Resources */
#resources-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
/* Each Resource box */
.resources-boxes{
    flex: 1 1 50%;
    width: 20em;
    height: 10em;
    border: 2px solid black;
    margin: .5em;
}
/* resource box paragraph tag */
.resources-boxes p{
    margin: auto;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 2em;
}
.study-abroad-description{
    margin-bottom: 1.5em;
}
.resources-box-titles{
    margin: auto;
    width: 50%;
    padding: 10px;
}


/* Advising - back modal  */
#advising-faq-link{
    margin: .5em;
}
#advising-faq-link:hover{
    font-weight: bold;
    font-size: 1.1rem;
    color: #F76902;;
}


/* Container for prof advisors */
#professonal-advisors{
    display:  flex;
    flex-wrap: wrap;
    flex-direction: row;
}
/* Title of prof advisors */
#professonal-advisors h2{
    flex: 1 1 100%;
}
/* Each prof advisor box */
#prof-advisor-info{
    margin: .5em; 
    border: 2px solid black;
    text-align: center;
    width: 10em;
    height: 8em;
    overflow: hidden;
}
/* Advisor department p tag */
#advisor-department{
    font-size: .85rem;
}

/* FacultyAdvisors div */
#faculty-advisors{
    margin: 1.25em 0;
}

/* ist Minor advising */
#ist-minor-advising{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#ist-minor-advising h2{
    flex: 1 1 100%;
}
/* Each advisor minor boxes */
.minor-advisor-info{
    flex: 1 1 25%;
    width: 10em;
    height: 8em;
    overflow: hidden;
    margin: .5em;
    border: 2px solid black;
    padding: 15px;
    text-align: center;
}



#lab-hours-link{
    margin: 1em 0;
    font-weight: bold;
}
#lab-hours-link:hover{
    font-size: 1.2rem;
    color: #F76902;
}








/** Footer */
#footer{
    position: relative;
    bottom: 0;
    text-align: center;
}
/** Socail Presence */
#footer-social-container{
    margin: 3em;
}
/* Info container */
#footer-info-container{
    border: 2px solid rgb(134, 134, 134);
    background-color: rgb(192, 192, 192);
}
#footer-link-anchor{
    margin: 1em;
}
/* Icon Links to facebook and twitter */
.social-links{
    font-size: 2rem;
    font-weight: bold;
    margin: 1em;
}
.social-links:hover{
    font-size: 2.25rem;
    color: #F76902;
}
#resources-anchor{
    margin: 1.25em;
}
#quickLinks{
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;
}
/* Each link in grey footer  */
.each-link{
    margin: 0 2em;
    flex: 1 1 25%;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1em;
}
.each-link:hover{
    color: #F76902;
}
/* Styles for news elements */
.news-titles{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2em;
}
.news-timestamp{
    font-size: 1rem;
    font-style: italic;
    margin-bottom: .5em;
}
#news-word{
    margin: 2em;
    font-size: 1.5rem;
    font-weight: bold;
}
#news-word:hover{
    font-size: 1.6rem;
    color: #F76902; 
}




/** 
* Overwriting of plugin styling
*/  

/* Overwriting Tab plugin styling */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #e86202;
	background: #F76902;
	font-weight: normal;
    color: #ffffff;
}

/* Overwrite modal styles */
.blocker{
    z-index: 10;
}
.modal{
    max-width: 750px;
}

/* Accordian content size */
.ui-accordion .ui-accordion-content{
    height: 15em;
}



.slides{
    margin: 0 4em;
}
#flex-slide1, #flex-slide2{
    text-align: center;
    
}
#flex-slide1 a div, #flex-slide2 a div{
    display: inline-block;
    width: 10em;
    height: 5em;
    margin: .2em;
}
.by-interest-title{
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1em 0;
}




/** Media Queries */
@media screen and (max-width: 1000px){
    #minors-box-container{
        grid-template-columns: repeat(3, 1fr);
    }
    #research-container{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (max-width: 900px){
    /** Image scroll parallax effect stop */
    #landing-image{
        background-attachment: scroll;
    }
    /* Information Sciences & Technology text */
    #image-text{
        font-size: 3rem; 
        margin-right: 2em;      
    }


    /* MINORS boxes container */
    /* Change styling to flex */
    #minors-box-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .each-minor{
        flex: 1 1 50%;
        margin: 0;
    }


    /* RESEARCH */
    /* container of research boxes */
    #research-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    } 
    .interest-area-box, .interest-faculty-box{
        flex: 1 1 50%;
        margin: .5em;
    }  
}

@media screen and (max-width: 850px){
    /* Degree boxes */
    .uDegBoxes, .gDegBoxes{
        width: 15em;
    }
    .degree-Desc{
        font-size: .8rem;
    }
}
@media screen and (max-width: 600px){
    /* Every other section */
    .altSection{
        margin: 0;
    }

    /* about */
    #about{
        margin: 0;
        margin-top: 3em;
    }
    #about-Title{
        font-size: 1.2rem;
        padding-bottom: 1em;
    }
    #about-Desc{
        font-size: 1rem;
        padding: 0;
    }
    #quote-Div{
        margin: 2em 0;
        padding: .5em;
    }
    #quote, #quote-Author{
        font-size: 1rem;
    }

    /* Faculty and staff people headers*/
    .faculty-boxes h2, .staff-boxes h2{
        font-size: 1.1rem;
    }
    .faculty-boxes, .staff-boxes{
        height: 8em;
    }

    /* List/table of coops and employment */
    #coop-table, #employment-table{
        font-size: .9rem;
    }

    /* Section in footer for links */
    #quickLinks{
        display: block;
        margin: 0;
        padding: 0;
    }

    /* MAP - don't show on mobile! */
    #map{
        display: none;
    }
    /* Hide the desktop version of research */
    .flexslider{
        display: none;
    }
    /* display the same research content, but for mobile */
    #research-for-mobile{
        display: block;
    }
    #research-for-mobile-areas, #research-for-mobile-faculty{
        display: absolute;
    }
    #research-for-mobile a div{
        height: 5em;
    }
}

@media screen and (max-width: 500px){
    /* Information Sciences & Technology text */
    #image-text{
        font-size: 2.4rem;        
    }

    /* Employee boxes statistics */
    #statistics-boxes{
        font-size: .7rem;
    }
}
